@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-slider{

    button.slick-arrow{ display: none !important;}


    .slick-dots{

    }
    .slick-dots li button:before{ font-size: 15px;}
    .slick-list{
        .slick-track{

            .slick-slide{
                text-align: center;
                img{ display: inline-block; }
                h3{@include FONT($FontLargeSize,$FontLargeLine,$FontLargeWeight,10px 0 10px 0) ; }
                p{ @include FONT($FontSmallSize,$FontSmallLine,$FontSmallWeight,0 0% 10px 0) ;  }
            }
        }   
    }
}