main{
    padding: 0;    

    @import "../DOM/_Typography";
    
    .content{
        padding: 20px 20px 100px;
        
    }
    
    .full{
        padding: 0px;
    }  

    .divider{
        margin: 30px 5% ;
        border-top: 1px solid $TertiaryColor;
        border-bottom: 1px solid $SecondaryColor;
        height: 1px;
    }
}