.StartHere{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    height: 100vh;

    background: $TertiaryColor;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, $TertiaryColor $Quaternary);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, $TertiaryColor, $Quaternary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    div{
        width: 100vw;
        flex-grow:1;
    }

    div.Logo{ 
        flex-grow:0;
        
                img{
                    width: 40%;
                    margin: 0 30%;
                }
        }
    div.Slider{
        text-align: center;
        flex-grow:1;
        align-self: flex-end;
    }
    div.CTA{
        align-self: flex-start;
        flex-grow:1;
        text-align: center;

        .LetsGetStarted{
            background-color: $SecondaryColor !important;
            padding: 20px 80px;
            font-size: $FontSmallSize;
            font-family: $FontFamilyBody;
        }
    }
}