
// Base Colors
$PrimaryColor:#fefdf8;
$SecondaryColor:#232f34;
$TertiaryColor:#69d1ca;   
$Quaternary:#e2e2e2;
$Quinary:#250035;

// Type Colors
$PrimaryHColor:#fff;
$SecondaryHColor:#232f34;
$TertiaryHColor:#fff; 

$PrimaryPColor:#fff;
$SecondaryPColor:#fff;
$TertiaryPColor:#fff;
